[automation-id="menu-layout-head-clone"] {
  display: none !important;
}

.w-menu-main {
  top: auto !important;
  bottom: auto !important;
}

* {
  user-select: unset !important;
}

.name {
  white-space: normal !important;
}

.card-avatar-wrap {
  max-width: none !important;
}
