:root {
  --border-radius: 2rem;
}

body {
  padding: 0.25rem;
  background: #e0e0e0;
  font-size: 12px;
}

main {
  display: flex;
  background: white;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.24);
  border-radius: var(--border-radius);
  padding: 2px;
  min-width: 240px;
}

* {
  box-sizing: border-box;
}

button {
  background: white;
  white-space: nowrap;
  border: none;
  padding: 0.5rem 1rem;
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  outline: none;
  font-size: inherit;
}

button span + span {
  margin-left: 0.5rem;
}

button:hover {
  filter: brightness(95%);
}

button:focus {
  filter: brightness(85%);
}

button:active {
  filter: brightness(80%);
}

button:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

button:last-of-type {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
