node_modules
.env
.parcel-cache

# Secrets
secrets.json
secrets.real.json

# Compiled output
extension/background.js
extension/background.js.map
extension/build.*.js
extension/build.*.js.map
extension/content-script.js
extension/content-script.js.map
